

*/media/

*.env
*.sql

*.pyc
/__pycache__/
__pycache__/
/migrations/

credencialesDB.txt
#el comando: hace que se ignoren solo los cambios futuros en un archivo ya pusheado:
#git update-index --skip-worktree /BlogWeb/credencialesDB.txt
#y para volver a interesarse por trackear los cambios futuros:
#git update-index --no-skip-worktree /BlogWeb/credencialesDB.txt

*db.sqlite3