

<!-- aqui esta el paginador que cree-->
      
        <nav aria-label="...">
            <ul class="pagination">
              <li class="page-item {%if not paginaAnterior %}disabled{% endif %}">
                <a class="page-link" href="?{{filtroParam}}&pagina={{paginaAnterior}}">Atras</a>
              </li>
              {%if paginaActual != 1 %}
              <li class="page-item">
                <a class="page-link" href="?{{filtroParam}}&pagina=1">1..</a>
              </li>
              {% endif %}
              <li class="page-item active" aria-current="page">
                <span class="page-link">{{paginaActual}}</span>
              </li>
              {% if paginaActual != paginaMaxima %}
              <li class="page-item">
                <a class="page-link" href="?{{filtroParam}}&pagina={{paginaMaxima}}">..{{paginaMaxima}}</a>
              </li>
              {% endif %}
              <li class="page-item {%if not paginaSiguiente %}disabled{% endif %}">
                <a class="page-link" href="?{{filtroParam}}&pagina={{paginaSiguiente}}">Siguiente</a>
              </li>
            </ul>
          </nav>


