
{% extends 'informacion.html' %}


{% block info %}

            <h2>    
                ¿Queres sumarte a nuestras actividades, colaborar y conocernos?
            </h2> 
            <h1> ¡Contactanos!, te estamos esperando: </h1>
            <h4>

               <p> Nombre completo : Fundación Mi Bella Ciudad</p>

               <p> Información de integrantes: Presidenta Marta Acosta</p>
                
                <p> Lugar: Dir. Joaquin V Gonzalez 760</p>
                
                <p> Información de contacto: 3624-648735</p>
                
                <p> Redes sociales: </p>
                <p> https://www.facebook.com/CentroDeGestionyParticipacionCiudadana</p>
                
            </h4>
    
{% endblock %}
