
{% extends 'informacion.html' %}


{% block info %}

            <h2>
                ¿Queres sumarte a nuestras actividades, colaborar y conocernos?
            </h2>
            
            <br>
            <h1> ¡Contactanos!, te estamos esperando: </h1>
            <h4>
                <br>

               <p> <strong>Nombre completo:</strong> Fundación Mi Bella Ciudad</p>

               <p> <strong>Información de integrantes:</strong> Presidenta Marta Acosta</p>
                
                <p> <strong>Lugar:</strong>  Dir. Joaquin V Gonzalez 760</p>
                
                <p> <strong>Información de contacto:</strong>  3624-648735</p>
                
                <p> <strong>Redes sociales: </strong> </p>
                <p>
                    <a target="_blank"
                        href="https://www.facebook.com/CentroDeGestionyParticipacionCiudadana">
                    Facebook de la Fundacion
                    </a>
                </p>
                
            </h4>
    
{% endblock %}
