<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <center>
        <h2>Iniciar sesion</h2>

        <form method="POST">

            {% csrf_token %}
            
            <label for="username_input">ingresar username:</label>
            <input type="username" name="username" id="username_input" placeholder="usuario">
            <br>
            <label for="password_input">ingresar contraseña:</label>
            <input type="password" name="password" id="password_input" placeholder="contraseña">

            <button type="submit"></button>

            <br>
            <a href="/registro/"> Registrarme </a>
            <br>
            <br>
            <a href="{% url 'inicio' %}"> Volver al inicio </a>

        </form>

    </center>

</body>
</html>