
{% extends 'inicio.html' %}


{% block titlepage %}
    - {{noticiaTitulo}}
{% endblock %}


{% block general %}

    
<div class="card">
    <div class="card-body">
    
    
    
    <center>
    <p> Viendo: </p>
    <h4>{{noticiaTitulo}}</h4>
        {% if user.esAdmin %}
            <a href="{% url 'crearnoticia'%}?modnoticia={{idNoticia}}">
                <button type="button" class="btn btn-success">
                    Admin: Editar esta noticia
                </button>
            </a>
        {% endif %}
    </center>
    <br>
    
    <center>
    <img class="img-fluid" src="{{imgNoticia}}" alt="">
    </center>
    <br>

    <center>
        <h2>{{noticiaTitulo}}</h2>
        <p> {{noticiaFecha}} </p>
    </center>
    <br>

    <font size="5" face="Arial">
        <p class="text-break">{{cuerpoNoticia|linebreaks}}</p>
    </font>

    <center>
     <p>Categoria:
        {% if noticiaCategoria %}
        <a href="{% url 'inicio' %}?categoria={{noticiaCategoria.nombre}}">
            <span class="badge text-bg-primary">{{noticiaCategoria.nombre}}</span>
        </a>
        {% else %}
        <a href="{% url 'inicio' %}?categoria=null">
            <span class="badge text-bg-primary">Sin categoria</span>
        </a>
        {% endif %}
    </p>
    </center>
    </div>
        

    </div>
    <br>



    

    {% if user.username %}
    <!-- Usuario logeado puede comentar -->
    <br>

    <div class="card text-center">
        <div class="card-header">
            <h5 class="card-title">Comentar noticia</h5>
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}

                <input type="hidden" name="idNoticiaComentario" id="idNoticiaComentario"
                    value="{{idNoticia}}">

                <p class="card-text mx-auto">
                    <textarea name="msgComentario" id="msgComentario" cols="80" rows="5"
                        maxlength="1000" placeholder="Escribe el comentario..."></textarea>
                </p>
                <button type="submit" class="btn btn-info">Comentar</button>
            </form>
        </div>
    </div>
    
      <br><br><br>
    {% endif %}

    <center>
        <br>
        <h3>Comentarios</h3>
        <br>
    </center>

    {% for id, autor, fecha, mensaje in comentarios %}
        <div class="card">
            <p class="card-header">{{ fecha }}</p>
            <div class="card-body">
            <h5>{{ autor}}:</h5>
              <!-- <h5 class="card-title">{{comm.autor.username}}</h5> -->
              <p class="card-text">{{ mensaje }}</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>
    {% empty %}
        <br><br>
        <center><h5>Aun no hay comentarios.<h5></center>
        
    {% endfor %}

    <br>
    <br><br><br>

{% endblock %}
